/*
    @author Alejandro Iserte Fabuel, Jordi Pérez Puig, Jeroni Altur Frasquet
*/

.mainBar {
  -fx-background-color: linear-gradient(to right, #0F7520, #006400);
}
.botonIniciarSesion {
  -fx-background-color: white;
  -fx-background-radius: 45;
  -fx-border-color: linear-gradient(to right, #00FF00, #006400);
  -fx-border-radius: 50;
  -fx-border-width: 2px;
  -fx-font-size: 25px;
  -fx-font-weight: bold;
}

.botonIniciarSesion:hover {
  /*-fx-background-color: linear-gradient(to bottom right, #0F7520, #006400);*/
  -fx-border-color: black;
  -fx-text-fill: black;
  -fx-border-width: 3px;
}

.botonReserva {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-font-weight: normal;
  -fx-underline: false;
  -fx-cursor: hand;
  -fx-transition: -fx-underline 0.2s;
  -fx-font-weight: bold;
}
.botonReserva:hover {
  -fx-underline: true;
}
.big-text {
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
    -fx-padding: 5px; 
    -fx-stroke:#0F7520
}
.button-redondo {
  -fx-background-radius: 50%;
  -fx-background-color: radial-gradient(radius 100%, red, blue);
  -fx-border-radius: 50%;
  -fx-border-color: black;
  -fx-border-width: 2px;
  -fx-min-width: 100px;
  -fx-min-height: 100px;
  -fx-max-width: 100px;
  -fx-max-height: 100px;
}
.custom-button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-padding: 5 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.custom-button:hover {
    -fx-underline: true;
    -fx-background-color: white;
    -fx-text-fill: green;
    -fx-border-radius: 10;
}
.contenedor {
    -fx-background-image: url("mosaico2.png");
    -fx-background-size: cover;
    -fx-background-position: top left;
    -fx-background-repeat: no-repeat;
}
.rounded-vbox {
    -fx-background-radius: 30px;
    -fx-background-color: #006400;
}
.success-text-big{
  -fx-font-size: 35px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
    -fx-padding: 5px; 
    -fx-stroke:#0F7520;
}



