.textfieldUsuario{
  -fx-border-color:#006400;
  -fx-background-color: white;
  -fx-border-radius: 10;
}
.big-text {
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-text-fill: #006400;
    -fx-padding: 5px; 
    -fx-stroke:#0F7520
}
.botonAceptar{
  -fx-background-color: white;
  -fx-background-radius: 50;
  -fx-border-color: linear-gradient(to right, #00FF00, #006400);
  -fx-border-radius: 50;
  -fx-border-width: 2px;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}
.botonAceptar:hover {
  -fx-background-color: linear-gradient(to bottom right, #0F7520, #006400);
  -fx-text-fill: white;
}
.botonCancelar {
  -fx-background-color: white;
  -fx-background-radius: 50;
  -fx-border-color: linear-gradient(to right, #FF0000, #8B0000);
  -fx-border-radius: 50;
  -fx-border-width: 2px;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}
.botonCancelar:hover {
  -fx-background-color: linear-gradient(to bottom right, #B22222, #8B0000);
  -fx-text-fill: white;
}
.botonSeleccionarFoto{
  -fx-background-color: transparent;
  -fx-text-fill: black;
  -fx-border-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
  -fx-padding: 0;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-underline: false;
}
.botonSeleccionarFoto:hover {
  -fx-text-fill: black;
  -fx-underline: true;
}
.botonSeleccionarFoto:pressed {
  -fx-text-fill: black;
  -fx-underline: true;
}

.boxConBorde{
    -fx-border-color:black;
    -fx-border-radius: 5;
}


.txtField{
    -fx-text-fill:white;
      -fx-font-size: 30px;
  -fx-font-weight: bold;
}
